[Unit]
Description=localforwarding
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/sbin/localforwarding -config=/etc/localforwarding.yaml
Restart=always

[Install]
WantedBy=multi-user.target
